html{
    font-family: 'Open Sans', sans-serif
}

body{
    margin: 0;
}

h1, h2, h3, h4, h5, p, span{
    margin: 0;
    color: #666;
}

.container{
    max-width: 1920px;
    width: 100%;
}

header{
    position: relative;
    top: 0;
    height: auto;
    width: 100%;
}

nav{
    position: fixed;
    top: 0;
    height: 100px;
    width: 100%;
    z-index: 1;
    background-color: #fff;
    border-bottom: 1px solid #CCC;
}

nav:after{
    clear: both;
    content: "";
    display: block;
}

.nav-container{
    max-width: 1200px;
    position: relative;
    margin-right: auto;
    margin-left: auto;
}


.logo{
    position: relative;
    width: 60px;
    height: 60px;
    right: 300px;
    top: 20px;
  
}

.nav-container ul{
    float: right;
    height: 100px;
    line-height: 100px;
    margin: 0;
}

.nav-container li{
    list-style: none;
    float: left;
    margin: 0 15px;
}

.nav-container li a{
    text-decoration: none;
    color: #666;
    transition: .5s;
}

.nav-container li a:hover{
    color: #3381f3;
    
}

.main-banner{
    background: url('/img/banner6.jpg') no-repeat;
    background-size: cover;
    background-position: 0 55%;
    position: relative;
    margin-top: 50px;
    height: 40vw;
    
}

.search-form{
    position: relative;
    width: 100%;
    left: auto;
    right: auto;
    top: 10vw;
    padding-top: 15em;
    padding-bottom: 15em;
    text-align: center;
    
}

.search-form h1{
    font-size: 40px;
}


.search-form p{
    margin-top: 30px;
    margin-bottom: 60px;
    font-size: 18px;
    font-weight: 300;
    color: black;
}

.search-form input, .search-form select{
    background-color: #fff;
    border-radius: 5px;
    border-color: transparent;
    padding: 10px 20px;
    font-size: 18px;
    margin: 0 10px;
}

.search-form input[type=submit]{
    background-color: #3381f3;
    text-transform: uppercase;
    color: #fff;
    cursor: pointer;
    transition: 0.5s;
}

.search-form input[type=submit]:hover{
    background-color: #2b79eb;
}

.map{
    height: 2vw;
}

#last-jobs-container{
    text-align: center;
    padding: 100px 0;
}

.wrapper{
    max-width: 1200px;
    position: relative;
    margin-left: auto;
    margin-right: auto;
    
}

#last-jobs-container h1{
    font-size: 36px;
    margin-bottom: 50px;
}

#last-jobs-container ul{
    padding: 0;
    border: 1px solid #ccc;
}

#last-jobs-container ul li{
    list-style: none;
    text-align: left;
    border-bottom: solid 1px #ccc;
    height: 80px;
    position: relative;
}

#last-jobs-container ul li:last-child{
    border: none;
}

.clickarea{
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
}

.company-box{
    display: inline-block;
    width: 30%;
    position: relative;
    padding-left: 1%;
}

.company-box img{
    width: 100px;
    margin-top: 2.5px;
}

.company-info{
    display: inline-block;
    margin-left: 50px;
    margin-top: 10px;
    text-align: left;
    position: absolute;
}

.company-info h3{
    margin-top: 18px;
    font-weight: 3000;
    margin-bottom: 10px;
}

.company-info p{
    font-weight: bold;
}


.locality{
    display: inline-block;
    color: #6d6d6d;
    width: 25%;
    position: absolute;
    height: 100%;
    line-height: 80px;
    
}

.locality img, p{
    display: inline-block;
    position: relative;
    
}

.locality img {
    margin-right: 5px;
}


.locality p{
    color: black;
}

.job-type{
    display: inline-block;
    width: 20%;
    height: 100%;
    position: absolute;
    padding-top: 30px;
    right: 1%;
    text-align: center;
    font-weight: bold;
    text-transform: uppercase;
    font-size: 12px;

}

.job-type p{
    display: block;
    width: 100%;
    height: 20px;
    line-height: 20px;
    border-radius: 5px;
    color: #fff;
}


.CLT{
    background-color: #735fee;
}

.pj{
    background-color: #5bbc2e;
}


.homeoffice{
    background-color: #ff5a5f;
}

.btnjobs-container{
    margin-top: 50px;
}

.btn-jobs{
    text-transform: uppercase;
    background-color: #fff;
    color: #3381f3;
    border: 2px solid #3381f3;
    border-radius: 5px;
    text-decoration: none;
    padding: 10px 20px;
    font-weight: bold;
    transition: 0.5s;
}

.btn-jobs:hover{
    background-color: #3381f3;
    color: #fff;
}   


#sendjobs-container{
    background: url('/img/banner2.jpg') no-repeat;
    background-size: cover;
    background-position: 0 25%;
    padding: 15em 0;

}

#sendjobs-container h2, p{
    width: 600px;
    color: #fff;
}

#sendjobs-container h2{
    font-size: 36px;
    margin-bottom: 50px;
}

#sendjobs-container p{
    font-size: 18px;
    margin-bottom: 50px;
    color: white;
    text-align: left;
}

.light-btn{
    position: relative;
    left: 18.4vw;
    background-color: #fff;
    border: 2px solid #fff;
    color: #666;
    font-weight: bold;
    text-transform: uppercase;
    padding: 10px 20px;
    text-decoration: none;
    border-radius: 5px;
    transition: 0.5s;
    
}

.light-btn:hover{
    background-color: transparent;
    color: #fff;
}

#status-container{
    text-align: center;
    padding: 5em 0;
}

.title-center{
    font-size: 36px;
    margin-bottom: 30px;
    text-align: center;
    color: black;
}

.p-center{
    width: 80%;
    position: relative;
    margin-left: auto;
    margin-right: auto;
    font-size: 18px;
    color: black;
}


.status-box{
    display: inline-block;
    text-align: center;
    width: 24.5%;
    margin-top: 70px;
    border-left: 1px solid #ddd;
    border-right: 1px solid #ddd;
    height: 100px;
    
}

.status-box:nth-child(2){
    border: none;
}

.status-box:nth-child(3){
    border-right: none;
}

.status-qtd{
    position: relative;
    right: 8vw;
    color: black;
    font-size: 36px;

}

.status-text{
    position: relative;
    right: 8vw;
    color: black;
    font-size: 20px;
}

#testmony-container{
    background: url('/img/banner7.jpg') no-repeat;
    background-size: cover;
    padding: 10em 0;
}

#testmony-container h2, p{
    color: #fff;
    text-align: center;
}

#testmony-container h2{
    font-size: 36px;
    margin-bottom: 50px;
}

#testmony-container p{
    margin-bottom: 50px;
}

.testmony-box{
    display: inline-block;
    width: 24.5%;
    text-align: center;
}

#testmony-container .testmony-box .testmony-msg{
    background-color: #fff;
    color: #666;
    border-radius: 10px;
    padding: 20px;
    width: 50%;
    position: relative;
    margin-right: 35px auto;
    font-style: italic;
}

.testmony-msg{
    position: relative;
    bottom: -4vw;
}

.testmony-msg:after {
    
    content: "";
    width: 0;
    height: 0;
    border-left: 20px solid transparent;
    border-right: 20px solid transparent;
    border-top: 20px solid #fff;
    position: absolute;
    bottom: -20px;
    left: 0;
    right: 0;
    margin-left: auto;
    margin-right: auto;
    margin-top: 100px;
}


.testmony-box img{
    width: 100px;
    height: 100px;
    border: 1px solid #ccc;
    border-radius: 50%;
}

.testmony-name{
    position: relative;
    font-weight: bold;
    top: 10vw;
    right: 8vw;
}


#blog-container{
    text-align: center;
    padding: 5em 0;

}

#blog-container p{
    color: black;
   margin-bottom: 60px;

}

.article-box{
    display: inline-block;
    width: 31%;
    padding: 0 1%;
    text-align: left;
}

.article-box img{
    width: 100%;
    border-radius: 5px;
    margin-bottom: 10px;
}

.article-box h4{
    font-size: 24px;
    margin-bottom: 15px;

}

.article-box h4 a{
    text-decoration: none;
    color: #666;

}

.article-date{
    position: relative;
    right: 9.5vw;
    font-size: 12px;  
}

.article-date-blog{
    position: relative;
    right: 9.5vw;
    font-size: 12px; 
    
}

.article-resume{
   position: relative;
   top: -2vw;
   width: 18vw;
   font-size: 12px;
   text-align: left;
}

.article-btn{
    position: relative;
    left: -0.1vw;
    top: -2vw;
    background-color: #3381f3;
    background-color: #3381f3;
    color: #fff;
}

.article-btn:hover{
    background-color: #fff;
    color: #3381f3;
}

.article-date{
    margin-left: 10vw;
}

footer{
    background-color: #666;
    padding-top: 5em;
    padding-bottom: 40px;
    border-top: 5px solid #3381F3;
}

footer h2, p, a, span{
    color: #d1d1d1;
}

footer h2{
    font-weight: 400;
}

footer a{
    text-decoration: none;
}

footer ul{
    padding: 0;
}

footer li{
    list-style: none;
}

.footer-list img{
    height: 1.2vw;
    
}

.wrapper p{
    color: white;
    
}

.footer-box{
    width: 31%;
    padding: 1%;
    float: left;
    
    
}

footer .wrapper:after{
    clear: both;
    content: "";
    display: block;
}

.company-footer{
    width: 80%;
}

.company-footer h2{
    margin-top: 20px;
}


.company-footer h2, p{
    margin-bottom: 20px;
}

.company-footer p{
    position: relative;
    right: 5vw;
    color: white;
}

.footer-list li{
    margin-bottom: 15px;
    font-size: 12px;
}

.footer-list a{
    transition: .5s;
    
}

.footer-list a{
    color: #fff;
}

.footer-list li::after{
    clear: both;
    content: "";
    display: block;
}

.articles-footer{
    width: 80%;
}

.footer-list .footer-article-list{
    display: block;
    float: none;
    

}

.footer-bottom{
    border-top: 1px solid #b2b2b2;
}

.footer-bottom p{
    font-weight: 600;
    margin-top: 40px;
}




